@page
@model RazorPagesTour.Pages.Products.ViewAllProductsModel
@{
}

<div class="container border-2">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-info">View All Products</h3>
        </div>
        <div class="col-md-6 text-end">
            <a asp-page="AddProduct" class="btn btn-outline-info btn-lg">Add Product</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead class=" table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td><img style="width:50px;" src="~/images/menu/@(item.ImageFileName)" /></td>
                            <td>@item.Price</td>
                            <td>@item.ShortDescription</td>
                            <td>@item.Category</td>
                            
                            <td class="text-center" width="15%">
                                <a class="btn btn-outline-info" asp-page="EditProduct" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-outline-danger" asp-page="DeleteProduct" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>